footer {
  position: absolute;
  bottom: -60px;
  width: calc(100% - 40px);
  margin: 20px 0;

  @include respond-to(medium) {
    bottom: -105px;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .social-link {
    position: relative;
    height: 60px;
    width: 60px;
    margin: 10px;
    padding: 15px;
    border-radius: 50%;
    border: 4px solid $green;
    background-color: #fff;
    overflow: hidden;
    transition: all .3s;

    @include respond-to(medium) {
      height: 80px;
      width: 80px;
      padding: 20px;
    }

    @include on-event {
      border-radius: 0;
      background-color: $green;

      .social-icon {
        fill: #fff;
      }

      @keyframes buzz {
        25% {
          transform: translate(-2px, 2px) rotate(-2deg);
        }

        50% {
          transform: translate(2px, 2px) rotate(2deg);
        }

        75% {
          transform: translate(2px, -2px) rotate(2deg);
        }

        100% {
          transform: translate(-2px, -2px) rotate(-2deg);
        }
      }
    }

    .social-icon {
      height: 100%;
      width: 100%;
      fill: $blue;
      transition: all .3s ease-out;
    }
  }

  .copyright {
    display: none;
    min-height: 35px;
    text-align: center;

    @include respond-to(medium) {
      display: block;
    }

    .strike {
      text-decoration: line-through;
    }
  }
}