nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include respond-to(medium) {
    justify-content: flex-start;
  }

  .logo {
    position: relative;
    z-index: 10;
    width: 100px;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    padding: 18px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.3s ease-out;
    }

    &::before {
      top: 5px;
      left: 5px;
      border: 4px solid $green;
    }

    &::after {
      top: -5px;
      left: -5px;
      border: 4px solid $blue;
    }

    @include respond-to(medium) {
      width: 120px;
      height: 120px;
      padding: 20px;
    }

    @include on-event {
      &::before,
      &::after {
        top: 0;
        left: 0;
      }
    }

    .logo-letters {
      height: 100%;
      width: 100%;
      fill: transparent;
      stroke-width: 2px;
      transition: all 0.3s;

      .first-letter {
        stroke: $blue;
        fill: $blue;
      }

      .second-letter {
        stroke: $green;
        fill: $green;
      }
    }
  }

  .menu-toggle {
    z-index: 100;
    background-color: transparent;
    outline: none;

    &::after {
      content: none;
    }

    @include respond-to(medium) {
      display: none;
    }

    @include on-event() {
      background-color: transparent;
    }

    &.active {
      position: fixed;
      right: 20px;
      fill: #fff;

      .top-bun {
        transform: translateY(-10px);
      }

      .salad {
        transform: translateY(5px);
      }

      .meat {
        transform: translateY(-5px);
      }

      .bottom-bun {
        transform: translateY(10px);
      }

      .menu-text {
        color: #fff;
      }

      ~ .main-nav {
        display: block;
        position: fixed;
        z-index: 50;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% + 20px);
        padding: 20px 20px 0 20px;
        text-align: left;
        background-image: linear-gradient(
          to bottom right,
          $blue 0%,
          $green 100%
        );
        animation: none;
        a {
          color: #fff;
          @include on-event {
            color: $text-color;
          }
        }
      }
    }
    .menu-icon {
      height: 60px;
      width: 60px;
      .top-bun,
      .salad,
      .burger,
      .bottom-bun {
        transition: transform 0.3s ease-out;
      }
    }
    .menu-text {
      font-size: 1rem;
      text-transform: uppercase;
      color: $text-color;
    }
  }
  .main-nav {
    display: none;
    position: relative;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    @include respond-to(medium) {
      display: flex;
      margin-left: 1rem;
    }
    li {
      margin: 2rem 0;
      list-style: none;
      font-size: 2rem;

      a {
        padding: 20px;
        border: none;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;

        @include on-event {
          color: $blue;
        }
      }

      &.active a {
        outline: 4px solid #fff;

        @include respond-to(medium) {
          outline: 4px solid $green;
          color: $blue;
        }
      }
    }
  }
}
