.print-only {
  display: none;
}

@media print {
  body {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

  header, .main-nav, .menu-toggle, .notice-web, .cookies, footer {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .languages {
    border: 1px solid #000 !important;
  }
}
