    <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/ma%C3%ABl-brunet-b5876118/" rel="me" target="_blank" class="social-link">
                <div class="sr-only">LinkedIn</div>
                <svg class="social-icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#linkedin"></use>
                </svg>
            </a>

            <a href="https://github.com/maeligg" rel="me" target="_blank" class="social-link">
                <div class="sr-only">Github</div>
                <svg class="social-icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#github"></use>
                </svg>
            </a>

            <a href="https://twitter.com/maelb" rel="me" target="_blank" class="social-link">
                <div class="sr-only">Twitter</div>
                <svg class="social-icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#twitter"></use>
                </svg>
            </a>
        </div>
        <div class="copyright">
            Hand-crafted with ♥️ and ☕ // Source code available on
            <a href="https://github.com/maeligg/maelbrunet" target="_blank">GitHub</a> <span class="easter-egg">// Try typing "unicorn" anywhere</span>
        </div>
    </footer>

    <script src="{{ .Site.BaseURL }}scripts/main.js"></script>

</body>
</html>
