<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title}}</title>
  <meta name="description" content="The personal website of Maël Brunet, front-end developer & UI designer based in Brussels, Belgium.">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
  <link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#1d78ad">

  <link rel="stylesheet" rel="preload" href="{{ .Site.BaseURL }}styles/main.css">
  <noscript>
    <style>
      .barba-container {
        opacity: 1;
      }
    </style>
  </noscript>
</head>

<body>
