button, .button {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: $link-color;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .3s ease-out;

  @include on-event {
    background-color: $blue;
  }

  &.button-light {
    background-color: #fff;
    color: $link-color;

    @include on-event {
      background-color: $blue;
      color: #fff;
    }
  }

  + button, + .button {
    margin-left: 1rem;
  }

  input {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}