.a11y {
  width: 94px;
  height: 94px;
}

.agile {
  width: 81.2px;
  height: 73.3px;
}

.codepen {
  width: 31px;
  height: 31px;
}

.curly-brackets {
  width: 16px;
  height: 16px;
}

.eye {
  width: 512px;
  height: 512px;
}

.feather {
  width: 486.999px;
  height: 486.999px;
}

.github {
  width: 1024px;
  height: 1024px;
}

.html {
  width: 502.664px;
  height: 502.664px;
}

.linkedin {
  width: 430px;
  height: 430px;
}

.open-source {
  width: 50px;
  height: 50px;
}

.react {
  width: 2206.5px;
  height: 1963.38px;
}

.smartphone {
  width: 60px;
  height: 60px;
}

.speedometer {
  width: 87px;
  height: 87px;
}

.styleguide {
  width: 512px;
  height: 512px;
}

.talk {
  width: 542px;
  height: 542px;
}

.team {
  width: 489.9px;
  height: 489.9px;
}

.twitter {
  width: 612px;
  height: 612px;
}

.wrench {
  width: 469px;
  height: 469px;
}

