/// Regular font family
/// @type List
$text-font-stack: 'Raleway', sans-serif;

$blue: #4c83db;
$green: #11af60;
$text-color: #111;
$link-color: $green;


/// Container's maximum width
/// @type Length
$max-width: 60rem;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 400px,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1600px,
) !default;