.contact {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .animation, .form {
    width: 100%;

    @include respond-to(medium) {
      width: 50%;
      padding: 0 40px;
    }
  }

  .animation {
    position: relative;

    .plane {
      display: none;
      position: absolute;
      top: calc(50% - 150px);
      left: calc(50% - 150px);
      fill: $blue;
      width: 300px;
      cursor: pointer;
      transition: all .3s ease-out;

      @include respond-to(medium) {
        display: block;
      }

      @include on-event {
        animation: jiggle 0.2s alternate infinite ease-in-out;
      }

      @keyframes jiggle {
        from {
          transform: rotate(-1deg);
        }
        to {
          transform: rotate(1deg);
        }
      }
      
      &.active {
        animation: fly 1s ease-in forwards;
      }
    }

    @keyframes fly {
      100% {
        top: -100%;
        left: 200%;
      }
    }

    .fly-path {
      fill: none;
      stroke: #000;
    }
  }

  .form {
    label, input, textarea {
      display: block;
    }

    label {
      margin-bottom: 10px;
      font-weight: bold;
      font-weight: 400;
    }

    input[type=text], input[type=email], textarea {
      margin-bottom: 20px;
      padding: 5px;
      border: 1px solid $light-grey;
    }

    abbr {
      font-size: 1.5rem;
      text-decoration: none;
      color: $red;
    }

    .required-message {
      font-style: italic;
    }

    .at {
      color: $green;
    }
  }
}