.home {
  .main-title {
    font-size: 2rem;
    color: $text-color;

    @include respond-to(small) {
      font-size: 3rem;
    }

    @include respond-to(medium) {
      position: absolute;
      bottom: 60px;
      font-size: 4rem;
    }

    a {
      border: none;
    }

    .txt-rotate .wrap {
      border-right: 0.08em solid #666;
    }
  }
}
