.projects {
  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-transform: uppercase;

    .icon{
      height: 80px;
      width: 80px;
      fill: $blue;
    }
  }

  .project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .project-item {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 2px solid $green;

    @include respond-to(medium) {
      width: calc(50% - 40px);
    }

    .project-inner-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .project-link {
      flex-grow: 1;
      border: none;
    }

    .year {
      padding: 5px;
      background-color: $green;
      color: #fff;
    }

    .thumbnail {
      float: left;
      height: 80px;
      margin: 0 20px 20px 0;
    }

    .year {
      float: right;
    }
  }
}
