.projects {
  h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .icon {
      height: 80px;
      width: 80px;
      fill: $blue;
    }
  }

  .project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 4rem;
    padding: 0;
    list-style: none;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
    }
  }

  .project-item {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 2px solid $green;
    @include respond-to(medium) {
      width: calc(50% - 40px);
    }

    @supports (display: grid) {
      width: 100%;
      margin: 0;
    }

    .project-inner-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .project-link {
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border: none;

      @include respond-to(medium) {
        flex-wrap: nowrap;
      }
    }

    .year {
      float: right;
      margin-left: 20px;
      padding: 5px;
      font-size: 1rem;
      background-color: $blue;
      color: #fff;
    }

    .thumbnail {
      float: left;
      margin: 0 20px 0 0;
      height: 80px;
    }
  }
}
