.resume {
  .notice-web,
  .notice-print {
    font-style: italic;
  }

  h2 {
    margin-top: 2rem;
  }

  .summary {
    margin-bottom: 2rem;
  }

  .languages {
    @include respond-to(small) {
      float: right;
      margin: 2rem 0 0 2rem;
      padding: 20px;
      background-color: $light-grey;

      h2 {
        margin-top: 0;
      }
    }
  }

  .work-xp,
  .education {
    padding: 0;

    > li {
      margin-bottom: 2rem;
      list-style: none;

      @include respond-to(medium) {
        display: flex;
      }
    }

    .org {
      width: 150px;
      font-weight: bold;
    }

    .year {
      font-size: 0.9rem;
      font-style: italic;
    }

    .description {
      padding-left: 2rem;
    }
  }
}
