{{ partial "head" . }}

{{ partial "nav" . }}

<div>
  <main class="resume">
    <div class="container">
      <h1>Résumé / Curriculum Vitae</h1>
      <p class="notice-web">🖨️ This page is optimised for print️, feel free to print it out or export it to PDF if that's
        your thing.</p>
      <p class="print-only">This document is also available as a web page at <a href="{{ .Site.BaseURL }}resume">{{ .Site.BaseURL }}resume</a></p>

      <img src="{{ .Site.BaseURL }}images/mael.jpg" alt="Maël Brunet" class="me print-only">

      <p class="print-only">📧 maelbrunet<span class="highlight">[at]</span>gmail<span class="highlight">[dot]</span>com</p>

      <h2>About me</h2>
      <p>I'm a front-end web developer and UI designer with a focus on performance and accessibility, based in
        Brussels (Belgium). I'm highly proficient in the technologies that are at the core of front-end development :
        HTML, CSS and Javascript. I believe that very strong knowledge of these foundations is essential to being a
        good front-end developer, and everything else (frameworks in particular) can be learned as needed.</p>

      <p>I believe that a good user interface is like a joke : you shouldn't have to explain it. I value simplicity and
        intuitiveness over complex and overly engineered solutions. I love working with prototypes to validate
        hypothesis and iterate rapidly, as well as design systems to build consistent UI at scale.</p>

      <p>I see open communication, empathy and inclusivity as the essential components of a well-functioning team. For
        more information about myself, I invite you to have a look at my about page : <a href="{{ .Site.BaseURL }}about">{{ .Site.BaseURL }}about</a>.</p>

      <hr>

      <h2>Skills</h2>
      <p>
        Do you like keywords ? I have project experience with the following tools and technologies :
      </p>
      <p>Git, Bash, HTML, CSS, Sass, styled-components, JavaScript (including ES6+), React, Redux, Vue, Jest, Enzyme, npm, Node, Webpack, Rollup, Gulp, Babel, ESlint, Lodash, JQuery, Bootstrap, Agile methodologies, ...</p>

      <hr>

      <h2>Work experience</h2>
      <ul class="work-xp">
        <li>
          <div class="meta">
            <div class="org"><a href="https://www.keytradebank.be/">Keytrade Bank</a></div>
            <div class="year">Feb 2019 - Now</div>
          </div>
          <div class="description">
            I joined the Keytrade team to help build their <b>Design System</b>, serving multiple React-based projects developed both internally and externally. My responsibilities include :
            <ul>
              <li>Together with another developer more focused on the CSS, develop and deploy components to our internal npm repository.</li>
              <li>Ensure code quality, with the notable use of Jest + Enzyme for unit tests, linting tools and systematic peer review.</li>
              <li>Maintain the documentation of components using Storybook.</li>
              <li>Help drive adoption of the shared components with good communication, organisation of workshops, smart scoping and versioning of packages, ...</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="meta">
            <div class="org"><a href="https://www.isabelgroup.eu/en/">Isabel Group</a></div>
            <div class="year">Jan 2018 - Feb 2019</div>
          </div>
          <div class="description">
            I joined Isabel Group as a <b>front-end developer</b> and <b>UI specialist</b>. Isabel Group is Belgium's largest fintech, providing banking
            services like Isabel 6, Zoomit and CodaBox to companies of all sizes. Part of a small team reporting
            directly to the CTO, I worked on a variety of projects, including :
            <ul>
              <li>I created and maintained a design system to share UI components across multiple projects, based on Vue, Storybook and npm packages.</li>
              <li>I launched and lead a UI 'Community of Practice', gathering designers and developers from all teams
                within the group on a regular basis to share experiences and best practices.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="meta">
            <div class="org"><a href="https://www.emakina.be/">Emakina</a></div>
            <div class="year">Jan 2016 - Dec 2017</div>
          </div>
          <div class="description">
            I joined Emakina as a <b>front-end developer</b>, where I worked on a range of different technologies and frameworks
            for some great brands like Ouibus, D'Ieteren, Deutsche Bank, Federale Assurance, ... Notable projects I was
            involved with include :
            <ul>
              <li>A complete redesign of the <a href="https://www.federale.be">Federale Assurance</a>
                website, running on a new platform and including an application to find the nearest Federale office. I
                was the lead front-end developer on this project.</li>
              <li>A new <a href="https://onlinebanking.deutschebank.be">online banking web app</a> for Deutsche Bank Belgium, providing a much improved user experience. I worked on some of the UI design and HTML / CSS for this project.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="meta">
            <div class="org"><a href="http://www.openforumeurope.org/">OpenForum Europe</a></div>
            <div class="year">May 2012 - Dec 2015</div>
          </div>
          <div class="description">
            I was <b>policy officer</b> and <b>webmaster</b> for OpenForum Europe (OFE), a not-for-profit industry
            organisation aiming to
            accelerate and broaden the use of Open Source Software among businesses, consumers and governments.
          </div>
        </li>
      </ul>

      <hr>

      <div class="languages">
        <h2>Languages</h2>
        <ul>
          <li>French (native)</li>
          <li>English (bilingual)</li>
          <li>Dutch (beginner)</li>
          <li>Spanish (intermediate)</li>
        </ul>
      </div>

      <h2>Education</h2>
      <ul class="education">
        <li>
          <div class="meta">
            <div class="org">Institut d'Etudes Politiques de Lille</div>
            <div class="year">2006 - 2011</div>
          </div>
          <div class="description">
            Master II in Political Science
          </div>
        </li>
        <li>
          <div class="meta">
            <div class="org">University of Kent in Canterbury</div>
            <div class="year">2006 - 2010</div>
          </div>
          <div class="description">
            Bachelor of Arts in Politics, Philosophy and Economics
          </div>
        </li>
        <li>
          <div class="meta">
            <div class="org">European School of Brussels II</div>
            <div class="year">2006</div>
          </div>
          <div class="description">
            Baccalaureate
          </div>
        </li>
      </ul>
    </div>
  </main>
</div>

{{ partial "cookies" . }}

{{ partial "footer" . }}
