{{ partial "head" . }}

{{ partial "nav" . }}

<div id="barba-wrapper">
    <main class="barba-container projects">
        <div class="container">
            <h1>Projects</h1>

            <p>This is where I collect side projects and things I made outside of work. (Some of) my professional projects are listed in my
              <a href="{{ .Site.BaseURL }}resume">resume</a>.</p>

            <h2>
                <svg class="icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#bot"></use>
                </svg>
                Bots
            </h2>
            <ul class="project-list">
                {{ range where .Site.Data.projects "category" "bot" }}
                    {{ partial "project.html" . }}
                {{ end }}
            </ul>

            <h2>
                <svg class="icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#website"></use>
                </svg>
                Websites & web apps
            </h2>
            <ul class="project-list">
                {{ range where .Site.Data.projects "category" "website" }}
                    {{ partial "project.html" . }}
                {{ end }}
            </ul>

            <h2>
                <svg class="icon">
                    <use xlink:href="{{ .Site.BaseURL }}images/svg-symbols.svg#presentation"></use>
                </svg>
                Presentations
            </h2>
            <ul class="project-list">
                {{ range where .Site.Data.projects "category" "presentation" }}
                    {{ partial "project.html" . }}
                {{ end }}
            </ul>
        </div>
    </main>
</div>

{{ partial "footer" . }}
