/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Body font-size is set to 10px to make it is easier to use rem units throughout the site, while leaving the
 * possibility for users to scale up font-size if they so wish
 */
body {
  position: relative;
  min-width: calc(100vw - 40px);
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 60px;
  font-size: 1rem;
  font-family: $text-font-stack;
  line-height: 1.5;
  color: $text-color;
  border-bottom: 4px solid $green;

  @include respond-to(medium) {
    min-height: calc(100vh - 105px);
    margin: 0 20px;
    border: 4px solid $green;
    border-image: linear-gradient(to bottom right, $blue 0%, $green 100%);
    border-image-slice: 1;
  }
}

a {
  display: inline;
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px dashed $link-color;

  @include on-event {
    color: $blue;
    border-bottom: 1px solid currentColor;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  margin: 1rem 0;
}

section {
  margin-bottom: 2rem;
}

abbr {
  cursor: help;
}
